<a href="https://colab.research.google.com/github/GokulsandyGs/gokul.A14/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num1=1.5
num2=6.3
sum=num1+num2
print('the sum of {0} and {1} is {2}'.format(num1,num2,sum))

the sum of 1.5 and 6.3 is 7.8

In [ ]:
num1 =input('enter first number:')
num2 =input('enter second number:')
sum= float(num1) + float(num2)
print('the sum of {0} and {1} is {2}'.format(num1,num2,sum))

enter first number:1.5
enter second number:6.3
the sum of 1.5 and 6.3 is 7.8

In [ ]:
num=8
num_sqrt = num ** 0.5
print('the square root of %0.3f is %0.3f'%(num,num_sqrt))

the square root of 8.000 is 2.828

In [ ]:
import cmath
num =1+2j
num_sqrt +cmath.sqrt(num)
print('the square root of {0} is {1:0.3f}+{2:0.3f}j'.format(num,num_sqrt.real,num_sqrt.imag))

the square root of (1+2j) is 2.828+0.000j

In [ ]:
a=5
b=6
c=7
s=(a+b+c)/2
area = (s*(s-a)*(s-b)*(s-c))**0.5

In [ ]:
x=5
y=10
temp=x
x=y
y=temp
print('the value of x after swapping: {}'.format(x))
print('the value of y after swapping: {}'.format(y))

the value of x after swapping: 10
the value of y after swapping: 5

In [ ]:
number=10
number=1.1
website="apple.com"
print(website)

apple.com

In [ ]:
website="apple.com"
print(website)
website="programiz.com"
print(website)

apple.com
programiz.com

In [ ]:
a=0b1010
b=100
c=0o310
d=0x12c
float_1=10.5
float_2=1.5e2
x=3.14j
print(a,b,c,d)
print(float_1,float_2)
print(x,x.imag,x.real)

10 100 200 300
10.5 150.0
3.14j 3.14 0.0

In [ ]:
strings="this is python"
char="c"
multiline_str="""this is a multiline string with more than one line code."""
unicode=u"\u00dcnic\u00f6de"
raw_str=r"raw \n string"
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

this is python
c
this is a multiline string with more than one line code.
Ünicöde
raw \n string

In [1]:
x=(1==True)
y=(1==False)
a= True + 4
b= False + 10
print("x is ",x)
print("y is",y)
print("a:",a)
print("b:",b)

x is  True
y is False
a: 5
b: 10

In [2]:
drink="Available"
food=None
def menu(x):
  if x == drink:
    print(drink)
  else:
    print(food)
  menu(drink)
  menu(food)

In [6]:
fruits = ["apple","mango","orange"]
numbers = (1,2,3)
alphabets = {'a':'apple','b':'ball','c':'cat'}
vowels = {'a','e','i','o','u'}
print(fruits)
print(numbers)
print(alphabets)
print(vowels)

['apple', 'mango', 'orange']
(1, 2, 3)
{'a': 'apple', 'b': 'ball', 'c': 'cat'}
{'o', 'a', 'u', 'i', 'e'}

In [7]:
def sum(numbers):
  total = 0
  for x in numbers:
    total +=x
    return total
  print(sum((8,2,3,0,7)))

In [8]:
def multiply(numbers):
  total + 1
  for x in numbers:
    total *=x
    return totalprint(multiply((8,2,3,-1,7)))

In [9]:
def string_reverse(str1):

    rstr1 = ''
    index = len(str1)
    while index > 0:
        rstr1 += str1[ index - 1 ]
        index = index - 1
    return rstr1
print(string_reverse('1234abcd'))

dcba4321

In [10]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
n=int(input("Input a number to compute the factiorial : "))
print(factorial(n))

Input a number to compute the factiorial : 1
1

In [11]:
def test_range(n):
    if n in range(3,9):
        print( " %s is in the range"%str(n))
    else :
        print("The number is outside the given range.")
test_range(5)

 5 is in the range

In [12]:
def string_test(s):
    d={"UPPER_CASE":0, "LOWER_CASE":0}
    for c in s:
        if c.isupper():
           d["UPPER_CASE"]+=1
        elif c.islower():
           d["LOWER_CASE"]+=1
        else:
           pass
    print ("Original String : ", s)
    print ("No. of Upper case characters : ", d["UPPER_CASE"])
    print ("No. of Lower case Characters : ", d["LOWER_CASE"])

string_test('The quick Brown Fox')

Original String :  The quick Brown Fox
No. of Upper case characters :  3
No. of Lower case Characters :  13

In [13]:
def unique_list(l):
  x = []
  for a in l:
    if a not in x:
      x.append(a)
  return x

print(unique_list([1,2,3,3,3,3,4,5]))

[1, 2, 3, 4, 5]

In [15]:
def test_prime(n):
    if (n==1):
        return False
    elif (n==2):
        return True;
    else:
        for x in range(2,n):
            if(n % x==0):
                return False
        return True             
print(test_prime(9))

False

In [16]:
def is_even_num(l):
    enum = []
    for n in l:
        if n % 2 == 0:
            enum.append(n)
    return enum
print(is_even_num([1, 2, 3, 4, 5, 6, 7, 8, 9]))

[2, 4, 6, 8]

In [17]:
def perfect_number(n):
    sum = 0
    for x in range(1, n):
        if n % x == 0:
            sum += x
    return sum == n
print(perfect_number(6))

True

In [18]:
def isPalindrome(string):
    left_pos = 0
    right_pos = len(string) - 1
    
    while right_pos >= left_pos:
        if not string[left_pos] == string[right_pos]:
            return False
        left_pos += 1
        right_pos -= 1
    return True
print(isPalindrome('aza'))

True

In [19]:
def pascal_triangle(n):
   trow = [1]
   y = [0]
   for x in range(max(n,0)):
      print(trow)
      trow=[l+r for l,r in zip(trow+y, y+trow)]
   return n>=1
pascal_triangle(6)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]

True

In [20]:
import string, sys
def ispangram(str1, alphabet=string.ascii_lowercase):
    alphaset = set(alphabet)
    return alphaset <= set(str1.lower())

print ( ispangram('The quick brown fox jumps over the lazy dog'))

True

In [21]:
import string, sys
def ispangram(str1, alphabet=string.ascii_lowercase):
    alphaset = set(alphabet)
    return alphaset <= set(str1.lower())

print ( ispangram('The quick brown fox jumps over the lazy dog'))

True

In [22]:
items=[n for n in input().split('-')]
items.sort()
print('-'.join(items))

2
2

In [23]:
def make_bold(fn):
    def wrapped():
        return "<b>" + fn() + "</b>"
    return wrapped

def make_italic(fn):
    def wrapped():
        return "<i>" + fn() + "</i>"
    return wrapped

def make_underline(fn):
    def wrapped():
        return "<u>" + fn() + "</u>"
    return wrapped
@make_bold
@make_italic
@make_underline
def hello():
    return "hello world"
print(hello()) ## returns "<b><i><u>hello world</u></i></b>"

<b><i><u>hello world</u></i></b>

In [24]:
mycode = 'print("hello world")'
code = """
def mutiply(x,y):
    return x*y

print('Multiply of 2 and 3 is: ',mutiply(2,3))
"""
exec(mycode)
exec(code)

hello world
Multiply of 2 and 3 is:  6

In [25]:
def test(a):
        def add(b):
                nonlocal a
                a += 1
                return a+b
        return add
func= test(4)
print(func(4))

9

In [26]:
def abc():
    x = 1
    y = 2
    str1= "w3resource"
    print("Python Exercises")

print(abc.__code__.co_nlocals)

3

In [27]:
from time import sleep
import math
def delay(fn, ms, *args):
  sleep(ms / 1000)
  return fn(*args)
print("Square root after specific miliseconds:")
print(delay(lambda x: math.sqrt(x), 100, 16))
print(delay(lambda x: math.sqrt(x), 1000, 100))
print(delay(lambda x: math.sqrt(x), 2000, 25100))

Square root after specific miliseconds:
4.0
10.0
158.42979517754858

In [28]:
value1=eval(input('enter first number'))
value2=eval(input('enter second number'))
value3=eval(input('enter third number'))
sum=value1+value2+value3
print(value1,'+',value2,'+',value3,sum)

enter first number4
enter second number3
enter third number2
4 + 3 + 2 9

In [29]:
print ("choice 1:add,2:sub,3;div,4:mul,5:quit")
n1 =input("enter the choice of operation :")
n =int(n1)
if (n==1):
  print("you have chosen addition option:")
  a1 = input("enter the value for A:")
  b1 = input("enter the value for B:")
  a =int(a1)
  b =int(b1)
  c = a+b
  print("the result",a,"+",b,"=",c)
elif (n==2):
  print("you have chosen subtraction option:")
  a1 = input("enter the value for A:")
  b1 = input("enter the value for B:")
  a =int(a1)
  b =int(b1)
  c = a-b
  print("the result",a,"-",b,"=",c)
elif (n==3):
  print("you have chosen division option:")
  a1 = input("enter the value for A:")
  b1 = input("enter the value for B:")
  a =int(a1)
  b =int(b1)
  c = a/b
  print("the result",a,"/",b,"=",c)
elif (n==4):
  print("you have chosen multiplication option:")
  a1 = input("enter the value for A:")
  b1 = input("enter the value for B:")
  a =int(a1)
  b =int(b1)
  c = a*b
  print("the result",a,"*",b,"=",c)
elif (n==5):
    print("you have given a wrong:",n)
    exit()

choice 1:add,2:sub,3;div,4:mul,5:quit
you have chosen division option:
enter the value for B:25
the result 100 / 25 = 4.0

In [30]:
a=True
b=False
print('a= ',a,'b= ',b)
a=False;
print('a= ',a,'b= ',b)

a=  True b=  False
a=  False b=  False

In [31]:
print("     1  2  3  4  5  6  7  8  9  10")
print("    <---------------------------->")
for row in range(1,11):
  if row<10:
    print(" ",end=" ")
    for column in range(1,11):
      product=row*column;
      if product<100:
        print(end=" ")
      if product<10:
        print(end=" ")
      print(product,end=" ")
    print()

     1  2  3  4  5  6  7  8  9  10
    <---------------------------->
    1   2   3   4   5   6   7   8   9  10
    2   4   6   8  10  12  14  16  18  20
    3   6   9  12  15  18  21  24  27  30
    4   8  12  16  20  24  28  32  36  40
    5  10  15  20  25  30  35  40  45  50
    6  12  18  24  30  36  42  48  54  60
    7  14  21  28  35  42  49  56  63  70
    8  16  24  32  40  48  56  64  72  80
    9  18  27  36  45  54  63  72  81  90

In [32]:

entry=0
sum=0
print("Enter numbers to sum, negative number ends list: ")
while entry >=0:
  entry =eval(input())
  if entry >=0:
    sum+=entry
print("sum=",sum)

Enter numbers to sum, negative number ends list:
40
80
90
-15
sum= 210

In [33]:

value=eval(input("Please enter an integer in the range 0....5: "))
if value<0:
  print("Too small")
else:
  if value ==0:
    print("zero")
  else:
    if value==1:
      print("one")
    else:
      if value ==2:
        print("two")
      else:
        if value==3:
          print("three")
        else:
          if value==4:
            print("four")
          else:
            if value==5:
              print("five")
            else:
              print("too large")
  print("done")

Please enter an integer in the range 0....5: 3
three
done

In [34]:
number=25
name="durai"
b=3.5
print(number)
print(name)
print(b)

25
durai
3.5

In [37]:
x=y=z=" Gokul "

print(x)
print(y)
print(z)

 Gokul
 Gokul
 Gokul

In [38]:
a,b,c,d,e="h","e","l","l","o"
print(a)
print(b)
print(c)
print(d)
print(e)

h
e
l
l
o

In [41]:
string1="gokul"
print(string1[6:12])

In [40]:
#Declare a variable
Number=25
Name="Kiran"
B=3.5
print(Number)
print(Name)
print(B)

25
Kiran
3.5

In [42]:
#Redeclare a variable
Name="Python"
print(Name)

Python

In [43]:
#Multiple assignment
x=y=z="SoftwareTestingHelp"
print(x)
print(y)
print(z)
a,b,c=5,3.2,"Hello"
print(a)
print(b)
print(c)

SoftwareTestingHelp
SoftwareTestingHelp
SoftwareTestingHelp
5
3.2
Hello

In [44]:
#Numbers
a=5
print(a,"is of type",type(a))

5 is of type <class 'int'>

In [45]:
#String
String1="Welcome"
String2="To python"
print(String1+String2)
#slicing
print(String1[2:5])

WelcomeTo python
lco

In [46]:
#List
List=[2,4,5,5,"Hi"]
print("List[2]",List[2])

List[2] 5

In [47]:
#Tuple
Tuple=(50,15,25.6,"Python")
print("Tuple[1]=",Tuple[1])

Tuple[1]= 15

In [48]:
#Set
Set={5,1,2.6,"python"}
print(Set)

{1, 2.6, 'python', 5}

In [49]:
#Dictionary
Dict={1:'Hi',2:7.5,3:'Class'}
print(Dict)

{1: 'Hi', 2: 7.5, 3: 'Class'}

In [50]:
#Arithmetic operators
x=15
y=10
print('x+y=',x+y)
print('x-y=',x-y)
print('x*y=',x*y)
print('x/y=',x/y)
print('x//y=',x//y)

x+y= 25
x-y= 5
x*y= 150
x/y= 1.5
x//y= 1

In [51]:
#comparison Operators
x=8
y=15
print('x>y is',x>y)
print('x<y is',x<y)
print('x==y is',x==y)
print('x!=y is',x!=y)
print('x>=y is',x>=y)
print('x<=y is',x<=y)

x>y is False
x<y is True
x==y is False
x!=y is True
x>=y is False
x<=y is True

In [52]:
#logical operators
a=True
b=False
print('a and b is',a and b)
print('a or b is',a and b)
print('a not b is',a and b)

a and b is False
a or b is False
a not b is False

In [53]:
#identity operator
a1=3
b1=3
a2="Python"
b2="Python"
a3=[4,5,6]
b3=[4,5,6]
print(a1 is not b1)
print(a2 is b2)
print(a3 is b3)

False
True
False

In [54]:
#Membership operator
a="Python operators"
b={1:'x',2:'y'}
print("P" in a)
print(1 in b)
print('y' in b)

True
True
False

In [55]:
#if statement
num=5
if( num<10):
  print("Num is smaller than 10")

Num is smaller than 10

In [56]:
#if-else statement
num=5
if(num>10):
  print("number is greater than 10")
else:
  print("number is less than 10")

number is less than 10

In [57]:
#elif statements
num=10
if(num==0):
  print("Number is Zero")
elif(num>5):
  print("Number is greater than 5")
else:
  print("Number is smaller than 5")

Number is greater than 5

In [58]:
#nested if-else statements
num=5
if(num>0):
  print("number is positive")
if(num<10):
  print("number is less than 10")

number is positive
number is less than 10

In [59]:
#elif ladder
my_marks=90
if(my_marks<35):
  print("Sorry!,You failed the exam")
elif(my_marks>60 and my_marks>100):
  print("Passed in First class")
else:
  print("Passed in First class")

Passed in First class

In [62]:
def printme( str ):
  'this prints a passed string into this function'
  print (str)
  return;

In [63]:
def printme( str ):
  'this prints a passed string into this function'
  print (str)
  return;
printme(" I'm first call to user defined function!" )
printme("again second call to the same function")

 I'm first call to user defined function!
again second call to the same function

In [64]:
def changeme( mylist ):
  'this changes a passed list into this function'
  mylist.append([1,2,3,4]);
  print('values inside the function:  ', mylist)
  return

mylist = [10,20,30];
changeme( mylist );
print('values outside the function: ',mylist  )

values inside the function:   [10, 20, 30, [1, 2, 3, 4]]
values outside the function:  [10, 20, 30, [1, 2, 3, 4]]

In [65]:
def changeme( mylist ):
  'this changes a passed list into this function'
  mylist = [1,2,3,4];
  print('values inside the function: ',mylist)
  return


mylist = [10,20,30];
changeme( mylist );
print('values outside the function: ',mylist)

values inside the function:  [1, 2, 3, 4]
values outside the function:  [10, 20, 30]

In [66]:
def printme(str):
  'this prints a passed string into this function'
  print(str)
  return;

printme(str)

<class 'str'>

In [67]:
def printme(str):
  'this prints a passed string into this function'
  print (str)
  return;

printme(str = 'my string')

my string

In [68]:
def printinfo( name , age ):
  'this prints a passed info into this function'
  print ('name: ',name)
  print ('age:',age)
  return;

printinfo( age=50, name='asuna')

name:  asuna
age: 50

In [69]:
def printinfo( name , age = 30 ):
  'this prints a passed info into this function'
  print('name:',name )
  print('age:',age)
  return;

printinfo( age = 35, name = 'asuna')
printinfo( name = 'asuna')

name: asuna
age: 35
name: asuna
age: 30

In [70]:
def printinfo( arg1, *vartuple  ):
  'this prints a variable passed arguments'
  print('output is:')
  print(arg1)
  for var in vartuple:
    print(var)
    return;

printinfo( 10 )
printinfo( 70, 60,50 )

output is:
10
output is:
70
60

In [71]:
total = 0;
def sum( arg1 , arg2 ):
  total = arg1 + arg2;
  print('inside the function local total: ',total)
  return total;

sum(10,20);
print('outside the function global total: ',total)

inside the function local total:  30
outside the function global total:  0

In [72]:
from math import sqrt
max_value = eval(input('display primes up to what value? '))
value = 2

while value <= max_value:
  is_prime = True
  trial_factor = 2
  root = sqrt(value)
  while trial_factor <= root:
    if value % trial_factor == 0:
      is_prime = False;
      break
    trial_factor += 1
  if is_prime:
    print(value, end='')
  value += 1

print()

display primes up to what value? 17
2357111317

In [73]:
from time import clock

print('enter your name: ',end='')
start_time = clock()
name = input()
elapsed = clock() - start_time
print(name, 'it took you ', elapsed, 'seconds to respond')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead
  after removing the cwd from sys.path.

enter your name: Gokul
Gokul it took you  0.22847799999999907 seconds to respond

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead

In [74]:
from time import clock

max_value = 10000
count = 0
start_time = clock()
for value in range(2, max_value + 1):
  is_prime = True
  for trial_factor in range(2, value):
    if value % trial_factor == 0:
      is_prime = False
      break
  if is_prime:
    count += 1
print()
elapsed = clock() - start_time
print('count: ', 'elapsed time: ', elapsed, 'sec')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead
  """

count:  elapsed time:  0.721074999999999 sec

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead
  from ipykernel import kernelapp as app

In [75]:
from time import sleep

for count in range(10,-1,-1):
  print(count)
  sleep(1)

10
9
8
7
6
5
4
3
2
1
0

In [76]:
from random import randrange , seed

seed (23)
for i in range (0,100):
  print(randrange(1,1000))
print()

948
799
972
297
914
850
86
18
607
315
434
389
543
367
134
744
197
274
456
15
227
636
466
924
26
109
88
728
511
432
21
525
643
752
442
368
790
59
211
802
37
604
378
674
177
636
222
995
753
372
580
779
881
378
992
586
289
677
999
322
587
88
834
486
182
736
495
605
811
459
692
658
168
187
819
183
547
332
690
836
533
201
597
118
85
101
437
40
582
283
963
587
288
841
605
339
112
379
922
296

In [77]:
from random import randrange
for i in range(0,3):
  value = randrange(1,6)
  print('+-------------+')
  if value == 1:
    print('|             |')
    print('|      *      |')
    print('|             |')
  elif value == 2:
    print('|*            |')
    print('|             |')
    print('|            *|')
  elif value == 3:
    print('|            *|')
    print('|      *      |')
    print('|*            |')
  elif value == 4:
    print('|*           *|')
    print('|             |')
    print('|*           *|')   
  elif value == 5:
    print('|*           *|')
    print('|      *      |')
    print('|*           *|')

print('+-------------+')

+-------------+
|*           *|
|      *      |
|*           *|
+-------------+
|            *|
|      *      |
|*            |
+-------------+
|*           *|
|             |
|*           *|
+-------------+

In [78]:
def gcd (m,n):
  min = m if m < n else n
  largestfactor = 1
  for i in range (1, min + 1):
    if m % i == 0 and n % i == 0:
      largestfactor = i
  return largestfactor

def get_int():
  return int (input('please enter an integer: '))
def main ():
  n1 = get_int()
  n2 = get_int()
  print('gcd(', n1, ',' ,  n2 , ') = ' , gcd(n1,n2) , sep = '')  
main()

please enter an integer: 2
please enter an integer: 4
gcd(2,4) = 2

In [79]:
def increment (x):
  print('beginning execution of increment, x= ',  x )
  x += 1
  print('ending execution of increment, x= ', x )

def main():
  x = 5
  print('before increment, x=', x )
  increment(x)
  print('after increment, x=', x )
  
main()

before increment, x= 5
beginning execution of increment, x=  5
ending execution of increment, x=  6
after increment, x= 5

In [80]:
def countdown(n=24):
  for count in range (n,-1,-1):
    print(count)

countdown()

24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [81]:
def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n-1)

def main():
  print('0! = ', factorial(0))
  print('1! = ', factorial(1))
  print('6! = ', factorial(6))
  print('10! = ', factorial(10))

main()

0! =  1
1! =  1
6! =  720
10! =  3628800

In [82]:
from math import sqrt

def is_prime(n):
  trial_factor = 2
  root = sqrt(n)
  while trial_factor  <= root :
    if n % trial_factor == 0:
      return False;

  return True;

In [83]:
def add(x,y):
  return x+y
def multiply(x,y):
  return x*y
def evaluate(f,x,y):
  return f(x,y)
def main():
  print(add(2,3))
  print(multiply(2,3))
  print(evaluate(add,2,3))
  print(evaluate(multiply,2,3))

main()

5
6
5
6